<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
    {% if category %}
        <hi>{{ category }}</hi>
            {% if pages %}
            <ul>
                {% for page in pages %}
                    <li>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
    {% else %}
        <strong>The specified category {{ category_name }} dose not exist!</strong>
    {% endif %}
</body>
</html>